@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
/* Hide first column */
.dataTables_wrapper tr td:nth-child(1), .dataTables_wrapper th:nth-child(1) ,
.dataTables_wrapper tr td:nth-child(11), .dataTables_wrapper th:nth-child(11) ,
.dataTables_wrapper tr td:nth-child(12), .dataTables_wrapper th:nth-child(12) ,
.dataTables_wrapper tr td:nth-child(10), .dataTables_wrapper th:nth-child(10),
.dataTables_wrapper tr td:nth-child(14), .dataTables_wrapper th:nth-child(14),
.dataTables_wrapper tr td:nth-child(15), .dataTables_wrapper th:nth-child(15),
.mdb-dataTable tr td:nth-child(1), .mdb-dataTable th:nth-child(1),
.mdb-dataTable tr td:nth-child(10), .mdb-dataTable th:nth-child(10),
.mdb-dataTable tr td:nth-child(11), .mdb-dataTable th:nth-child(11),
.mdb-dataTable tr td:nth-child(12), .mdb-dataTable th:nth-child(12),
.mdb-dataTable tr td:nth-child(14), .mdb-dataTable th:nth-child(14),
.mdb-dataTable tr td:nth-child(15), .mdb-dataTable th:nth-child(15)
{
    display: none;
}

.dataTables_wrapper tr td:nth-child(7), .dataTables_wrapper th:nth-child(7),
.mdb-dataTable tr td:nth-child(7), .mdb-dataTable th:nth-child(7){
  width: 20%;
}


.dataTables_wrapper thead .sorting_asc:after, 
.dataTables_wrapper thead .sorting_desc:after, .dataTables_wrapper thead .sorting_asc_disabled:after, 
.dataTables_wrapper thead .sorting_desc_disabled:after, 
table thead.dataTables_wrapper-head .sorting_asc:after, table thead.dataTables_wrapper-head .sorting_desc:after, 
table thead.dataTables_wrapper-head .sorting_asc_disabled:after, table thead.dataTables_wrapper-head .sorting_desc_disabled:after,
table.mdb-dataTable thead .sorting:after, table.mdb-dataTable thead .sorting_asc:after, table.mdb-dataTable thead .sorting_desc:after,  /*V5*/
table.mdb-dataTable thead .sorting_asc_disabled:after, table.mdb-dataTable thead .sorting_desc_disabled:after, table thead.mdb-dataTable-head .sorting:after, 
table thead.mdb-dataTable-head .sorting_asc:after, table thead.mdb-dataTable-head .sorting_desc:after, table thead.mdb-dataTable-head .sorting_asc_disabled:after, 
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  left: -.7rem;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: 900;
  content: "\f063";
  bottom: 3px;
}
 .dataTables_wrapper thead .sorting_asc:before, 
.dataTables_wrapper thead .sorting_desc:before, .dataTables_wrapper thead .sorting_asc_disabled:before, 
.dataTables_wrapper thead .sorting_desc_disabled:before,
table thead.dataTables_wrapper-head .sorting_asc:before, table thead.dataTables_wrapper-head .sorting_desc:before, 
table thead.dataTables_wrapper-head .sorting_asc_disabled:before, table thead.dataTables_wrapper-head .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting:before, table.mdb-dataTable thead .sorting_asc:before, table.mdb-dataTable thead .sorting_desc:before,  /*V5*/
table.mdb-dataTable thead .sorting_asc_disabled:before, table.mdb-dataTable thead .sorting_desc_disabled:before, table thead.mdb-dataTable-head .sorting:before, 
table thead.mdb-dataTable-head .sorting_asc:before, table thead.mdb-dataTable-head .sorting_desc:before, 
table thead.mdb-dataTable-head .sorting_asc_disabled:before, table thead.mdb-dataTable-head .sorting_desc_disabled:before {
  left: -.7rem;
  font-family: FontAwesome;
  font-weight: 900;
  font-size: 12px;
  content: "\f062";
  top: 3px;
}
.fa-chevron-right:before{
  content:"\f054";
  font-family: FontAwesome;
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
}
.fa-chevron-left:before{
  content:"\f053";
  font-family: FontAwesome;
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
}
/* .CanvasComponent.LCS .CanvasZone:not(.CanvasZone--fullWidth) .ControlZone {
    position: fixed;
      width: 100%;
      left: 10%;
  } */


  /* .CanvasComponent.LCS .row{
    margin: 0 ;
  } */

  .btn-purple{
    background-color: #464775;
    color : white
  }
  .btn-org{
    background-color: #f04e1f;
    color : white
  }
  .btn-green{
    background-color:  #218838 ; 
    color : white
  }
  .page-item.disabled .page-link {
    background-color:  rgb(243,242,241);
}
  .page-link:hover {
    border: 1px solid #464775 !important;
    color: #fff;
    background-color: #464775;
  }

  .page-item.active .page-link {
    background-color:#464775;
    border-color:#464775;

  }

  .page-link {

    color: #464775;
    background-color: #fff;
    border-color: #464775;
}

.monthCalendar .key-issue {
  border-left-width: 7.5px ;
  border-right-width: 7.5px ;
  border-bottom-width: 15px ;
}
.monthCalendar .key-event:before ,.monthCalendar .key-action:before   {
  font-size: 15px;
}
/* .monthCalendar .key-issue {
  width: 15px;
  height: 15px;
  font-size: 11px;
} */








  



