.row>*{
	width: auto;
}
/*Font style*/

.font-xs{
	font-size: 12px;
}

.font-s{
	font-size: 14px;
}

.font-m{
	font-size: 16px;
}

.font-l{
	font-size: 18px;
}

.font-xl{
	font-size: 20px;
}

/*Overall button style*/

.mybtn{
	padding: 3px 10px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	opacity: 0.85;
	border: none;
	background-color: white;
}

.mybtn:hover{
	opacity: 1;
}

.no-border-with-outline{
	border: 1px solid #f3f0ff;
	background-color: transparent;
	transition: all .3s ease-in-out;
	color: black;
}

.no-border-with-outline:hover{
	border: 1px solid #464775 !important;
}

.no-border-with-outline-active{
	border: 1px solid #464775 !important;
	background-color: white;
	transition: all .3s ease-in-out;
	color: black;
}

.outline-purple-btn{
	border: 1px solid #464775 !important;
	color: black;
}

.outline-purple-btn:hover{
	background-color: #464775;
	color: white;
}

.purple-btn{
	background-color: #464775;
	color: white
}

.green-btn{
	background-color: #218838;
	color: white;
}

.orange-btn{
	background-color: #f04e1f;
	color: white;
}

.btnWithNoBorder{
	border: none;
	color: gray;
	background-color: transparent;
	transition: all .3s ease-in-out;
}

.btnWithNoBorder:hover{
	color: black;
}

.sendDisable{
	margin-top: 5px;
	background-color: dimgray;
	color: white;
	border: 0;
	border-radius: 3px;
	padding: 3px 10px;
	cursor: default;
}

/*Collaboration style*/

/*Text area*/
.textAreaStyle{
	width: 100%;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 8px;
	min-height: 3em;
	max-height: 4.5em;
	overflow-y: auto;
	font-size: 14px;
}

.responseAreaStyle{
	width: 100%;
	overflow-y: hidden;
	padding: 0px 5px;
	height: 1.8em;
	border: 1px solid gray;
	border-radius: 5px; 
}

/* Layout for Menu navigataion*/
.menuNav{
	padding: 0px 15px 15px;
	width: 250px;
	height: 100%;
	overflow: visible;
	display: block;
}

.navMobile{
	padding: 2px 28px 15px;
	width: 250px;
	height: auto;
	overflow: visible;
	display: none;
	position: absolute;
	background-color: white;
	z-index: 2000;
	box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
}

.menuNavMobile{
	padding: 0px 15px 15px;
	width: 50px;
	height: 0px;
	overflow: hidden;
	display: block;
}

/*Menu header*/
.groupHeader{
	padding: 5px 10px;
	color: gray;
	border-left: .3rem solid rgba(98,100,167,0);
	cursor: pointer;
}

.groupHeader:hover{
	color: black;
	border-left: .3rem solid rgb(125, 127, 189);
}

.groupHeaderActive{
	padding: 5px 10px;
	color: #6264a7;
	border-left: .3rem solid rgba(98,100,167,1);
	font-weight: bold;
}


/*Searching*/
.searchLayOut{
	width: 300px;
	position: relative;
	right: 0px;
}

.searchResultLayoutBlock{
	overflow: hidden;
	transition: all .3s ease-in-out;
	padding: 10px 15px;
	background-color: rgb(243,242,241);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: none;
}

.searchBlock{
  background-color: gainsboro;
  border: 3px solid gray;
  padding: 5px 10px;
  height: 100%;
}


/*Carousel*/

.thumbtack{
	position: absolute;
	left: -10px;
	top: -15px;
	transform: rotate(-30deg);
	font-size: 30px;
	color: #e05745;
}

.carousel{
	background-color: white;
	margin-top: 10px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
	z-index: 0;
}

.innerCarousel{
	padding: 5px 5px 0 30px;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .3s ease-in-out;
	cursor: pointer;
	top: 0;
	left: 0;
}

.innerCarouselName{
	line-height: 1.4em;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 5px;
	font-size: 16px;
}

.blockWithText {
	height: 3.2em;
	line-height: 1.5em;

	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.indicator{
	width: 10px;
	height: 7px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	display: inline-block;
	border: 1px solid gray;
	margin: 0px 5px;
	cursor: pointer;
	z-index: 120;
}

.indicatorActive{
	width: 10px;
	height: 7px;
	background-color: black;
	border-radius: 10px;
	display: inline-block;
	border: 1px solid gray;
	margin: 0px 5px;
	cursor: pointer;
	z-index: 120;
}

/*Widget on Collaboration*/
.widgetBlock{
	background-color: #e9ecef;
	border-radius: 4px;
	border: 1px solid #ced4da;
	padding: 5px 10px !important;
	cursor: pointer;
	color: gray;
	transition: all .3s ease-in-out;
	position: relative;
}

.widgetDisable{
	background-color: grey;
	border-radius: 4px;
	border: 1px solid #ced4da;
	padding: 5px 10px !important;
	cursor: default;
	color: rgb(48, 48, 48);
	transition: all .3s ease-in-out;
}

.widgetBlock:hover{
	background-color: #464775;
	color: white;
}

/*Comment*/
.commentSection{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comments{
  	clear: both;
}

.commentWrapper{
	background-color: white; 
	padding-top: .5em;
	box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
	margin-bottom: 10px;
	transition: background-color .3s ease-in;
	transition: background-color .6s ease-out;
}

.commentProfile{
	margin-right: 1rem;
	border-radius: 50%;
	border-radius: 50%;
	float: left;
	width: 2.5rem;
	height: 2.5rem;
	max-width: 50px;
	max-height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-left: 1rem;
}

.name{
	line-height: 1.4em;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 5px;
	padding-left: 0px;
}

.wrapper{
	line-height: 1.4em;
	margin-right: 40px;
	padding-bottom: 5px;
	margin-left: 70px;
}

.content{
	white-space: pre-line;
	word-break: break-word;
	max-height: 100px;
	overflow: hidden;
}

.commentTime{
	float: right;
	line-height: 1.4em;
	margin-left: .5em;
	font-size: 10px;
	color: #666;
	margin-right: 1rem;
	margin-left: auto;
}


/*Reply comment*/
.action{
	box-sizing: border-box;
	text-shadow: none;
	text-align: right;
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	padding-top: 5px;
	padding-bottom: .5em;
	font-size: 10px;
	position: relative;
}

.replyButton{
	border: none;
	background-color: transparent;
	color: #666;
}

.subComments{
	padding-left: 40px;
	background-color: #f3f2f1;
	transition: background-color .3s ease-in;
	transition: background-color .6s ease-out;
}

.subComments:hover{
  	background-color: #e6e6e6;
}

.subComments:hover .subseemoreBtn{
  	box-shadow: 0px -10px 5px 0px #e6e6e6;
}

/*see more, see less block*/
.seemoreBlock{
	display: none;
}

.seemoreBtn{
	padding: 0;
	cursor: pointer;
	text-align: left;
	width: 100%;
	box-shadow: 0px -10px 5px 0px rgba(255,255,255,1);
}

.seelessBlock{
	display: none;
}

.seelessBtn{
	padding: 0;
	cursor: pointer;
	text-align: left;
	width: 100%;
}

.subseemoreBtn{
	padding: 0;
	cursor: pointer;
	text-align: left;
	width: 100%;
	box-shadow: 0px -10px 5px 0px #f5f5f5;
}

.pinShareSection{
	text-align: right;
	margin-top: 15px;
	min-height: 20px;
	position: relative;
}

/*Pin button*/
.pinBtn{
	padding: 5px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid lightgray;
	cursor: pointer;
	background-color: white;
	display: inline-block;
	font-size: 10px;
	transition: all .3s ease-in-out;
}

.pinBtn:hover{
  	background-color: #e6a9a1;
}

.pinBtnActive{
	padding: 5px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid lightgray;
	cursor: pointer;
	background-color: #e05745;
	color: white;
	display: inline-block;
	font-size: 10px;
	transition: all .3s ease-in-out;
}

/*Share button*/
.shareBtn{
	padding: 5px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid lightgray;
	cursor: pointer;
	background-color: white;
	display: inline-block;
	font-size: 10px;
	transition: all .3s ease-in-out;
}

.shareBtn:hover{
  	background-color: #a1c7e6;
}

.shareBtnActive{
	padding: 5px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid lightgray;
	cursor: pointer;
	background-color: #a1c7e6;
	color: black;
	display: inline-block;
	font-size: 10px;
	margin-top: 10px;
	transition: all .3s ease-in-out;
}

.shareBtnActive:hover{
	background-color: #739dc0;
	color: white;
}

.shareSelectBlock{
	position: absolute;
	right:20px;
	top:18px;
	display: block;
	z-index:1000;
	text-align:left;
	font-size: 12px;
}

.shareSelectBlockInner{
	background-color: #f4f9ff;
	border-radius: 5px;
	border: 1px solid #6581a1;
	padding: 5px 10px;
}

/*Suggest user*/
.profilePicture{
	border-radius: 50%;
	float: left;
	width: 2.5rem;
	height: 2.5rem;
	max-width: 50px;
	max-height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

.suggestBlock{
	position: absolute;
	left: 0;
	z-index: 100;
	bottom: 90px;
	background-color: white;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
	width: max-content;
	text-align: left;
}

.suggestHeader{
	padding: 5px 10px;
	background-color: #eee;
	font-weight: 700;
	border-bottom: 2px solid gray;
}

.suggestItem{
	padding: 10px;
	background-color: white;
	cursor: pointer;
	margin: 0 !important;
}

.suggestItem:hover{
  	background-color: #edebe9;
}

/*Three action*/
.actionBlock{
	background-color: white;
	padding: 10px 20px;
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
	text-align: left;
	padding-bottom: 0;
}

.actionBtnStyle{
	transition: all .3s ease-in-out;
	width: 100%;
	z-index: 10;
	top: 25%;
	left: 0;
}

.actionRender{
	transition: all .3s ease-in-out;
	width: 100%;
	z-index: 10;
	left: 0;
}

/*Widget*/
.widgetTooltipContainer{
	position: absolute;
	left: 5px;
	top: 30px;
	z-index: 1000;
	flex-wrap: nowrap;
	color: black;
	margin: 0;
}

.widgetTooltipInner{
	background-color: white;
	border: 2px solid black;
	padding: 10px;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
}

.widgetKeyContent{
	width: 300px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	text-align: left;
	height: 150px;
	margin-top: 5px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

.widgetKeyInsideContent{
  	height: 40px;
}

.assignTaskFormTitle{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 700;
}

.assignTaskFormInput{
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
}

.flagKeyTooltip{
	position: absolute;
	bottom: 20px;
	z-index: 1000;
	left: -68px;
}

.flagKeyTooltipInner{
	background-color: white;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
}

.flagFormTitle{
	width: 50px;
	font-weight: 700;
	margin-top: 3px;
}

.flagFormInput{
	width: 100%;
	height: 100%;
}

/*Scroll bar*/
.scrollBar{
	width: 13px;
	height: 100%;
	position: absolute;
	right: 2px;
	background-color: rgb(243, 242, 241);
	border-radius: 10px;
}


.scroll:hover{
  	background-color: #3e407e;
}

.scroll{
	min-height: 0;
	width: 12px;
	background-color: #6264a7;
	position: absolute;
	left: 0;
	border-radius: 10px;
}



/*Un assign*/
.dashboardTab{
	border: none;
	color: gray;
	background-color: transparent;
	padding: 5px 10px;
}

.dashboardTabActive{
	color: #464775;
	font-weight: bold;
	background-color: white;
	padding: 5px 10px;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	border-bottom: 0px solid gainsboro;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.caret-down-style{
	color: #6f70a7;
	font-size: 26px;
	margin-top: -10px;
}

.caret-up-style{
	color: #6f70a7;
	font-size: 26px;
	margin-bottom: -15px;	
}

.toggle-box{
	background-color: #f3f0ff;
	border-radius: 5px;
	border: 1px solid #aeaecc;
	padding: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}


.key-event:before {
	font-family: FontAwesome;
	content: "\f071";
	color: #f1d302;
	font-size:18px;
}

.key-event .keyText{
	top : -5px;
}

.key-issue {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid #c1292e;
}
.key-issue .keyText{
	top : 0;
}

.key-action:before {
	font-family: FontAwesome;
	content: "\f005";
	color: #218838;
	font-size:18px;
}
 .key-action .keyText{
    top : -5px; /* Team -5px*/
  }


.searchResultBox{
	margin-left: 10px;
	border-radius: 3px;
	background-color: transparent;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.searchResultBox:hover{
	background-color: white
}


.tagPing{
	color: #6264a7 !important;
	background-color: transparent;
	border: 0px solid #ccc;
	padding: 0px;
	cursor: default;
	font-weight: 400;
	border-radius: 1em;
	text-align: left;
	width: max-content;
}

.tagPing:hover{
	text-decoration: underline;
}

/*Assign task section*/
.btnAction{
  	margin-right: 1%;
}

.circleStatus{ 
	background: rgb(165, 165, 165);
	border-radius:100%;
	width: 20px ; 
	height: 20px ; 
}

.task_onprocess{
  	background:#f0b91f;
}
.task_delay{
  	background: red
}
.task_complete{
  	background: #218838
}

.filterStatus .circleStatus{
    position: absolute;
}

.filterStatus label{
	margin-bottom: 0;
	padding-left: 1.5rem;
}

.imgUser img{
	width: 30px;
	height: auto;
	position: relative;
}

.teambtnPadding label{
	margin-right: 5%;
}

.teambtnPadding button{
	margin-right: 1%;
}

.imgHover{
	display:inline-block;
	position: relative;
}

.imgHover .userImg{
	position: relative;
}

.imgHover .userImg:hover + div .tagName,.imgHover .userImg:hover +  .tagName{
	display: block;
	opacity: 1;
}

.imgHover .tagName{
	position: absolute;
	display: none;
	opacity: 0;
	z-index: 5;
	background-color: #464775;
	padding: 4px;
	border-radius: 8px;
	font-weight: 500;
	color: white;
	transition:visibility 0.3s linear,opacity 0.3s linear;
	width: max-content;
	top: -18px;
	left: 30px;
}

.myRows:hover .flag{
	visibility: visible;
	opacity: 1;
}

.inputMDB{
	height: calc(1.5em + .5rem + 2px);
	padding: .25rem .5rem;
	border-radius: .2rem;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color 1.5s ease-in-out;
}

.pagiEnable{
	position: relative;
	padding: .25rem .5rem;
	margin-right: -1px;
	line-height: 1.25;
	color: #464775;
	background-color: #fff;
	border:1px solid #dee2e6;
	font-size: 16px;
}

.pagiEnable:hover{
	background-color: #464775;
	color: #fff;
}

.pagiDisable{
	position: relative;
	padding: .25rem .5rem;
	margin-right: -1px;
	line-height: 1.25;
	color:#6c757d;
	background-color: #f3f2f1;
	border:1px solid #dee2e6;
	font-size: 16px;
}

.tr-flag{
  	background-color:#ffffd9;
}
.flag{
	cursor: pointer;
	z-index: 6;
	color: rgb(190, 190, 190);
	visibility: hidden;
	opacity: 0;
}

.flag svg{
	pointer-events: none;
}

.flag-active{
	color:rgb(235, 179, 77) !important ; 
	visibility: visible !important ;
	opacity: 1 !important ;
}
.userImg{
  	border-radius:  50%;
}

.btnUpdate{
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 0;
	padding: 4px;
	background-color: transparent;
	border-radius: 8px;
	right: 30px;
}
.btnUpdate .StatusCaret{
	margin: 0;
	position: absolute;
	z-index: 100;
	top: -8px;
	right: 50px;
}
.btnUpdate .StatusComment{
	min-width: 200px;
	border-radius: 4px;
	padding: 5px 10px;
	
}
.btnUpdate .StatusComment .form{
	margin-bottom: 0px;
}
.btnUpdate textarea{
	font-size: 12px;
}

.btnUpdate .closedivUpdate{
	z-index: 10;
	position: absolute;
	border-radius: 50%;
	padding: 5px;
	padding-top: 0;
	font-weight: 600;
	color: gray;
	cursor: pointer;
	right: 10px;
	
}

.btnUpdate .closedivUpdate:hover{
	color: black;
}

.btnUpdate button{
	position: relative;
	width: 50px;
	border-radius: 10px;
	margin-top: 2%;
	padding: 2px;
}

.show{
	display: block !important ;
	opacity: 1 !important ;
	z-index: 8 !important;
}
.operate{
  	position: absolute;
}

/*Dashboard*/
.chkKeyLabel{
	pointer-events: none;
	display: inline-flex;
}

.chkKeyLabel label{
	margin-left: 5px;
	margin-bottom: 0;
}

.showKeydetail{
	border-left: 1px solid rgba(0,0,0,.1);
	padding-left: 0.5% !important;
}

.divTimelineDashboard{
	overflow-x: auto ; 
	overflow-y: auto ;
	height : calc(100vh - 290px) ;
	position: relative;
	display: grid;
	grid-auto-flow: column;
}

.Lane_0_block{
	width: 650px;
}

.Lane_1_block{
	width: 500px;
}

.Lane_2_block{
	width: 300px;
}

.divTimeline{
	overflow-x: hidden ; 
	overflow-y: scroll ;
	height : calc(100vh - 310px) ;
	position: relative;
}

.divTimeline_weekly{
	overflow-x: hidden ; 
	overflow-y: scroll ;
	height : calc(100vh - 200px) ;
	position: relative;
}

.keyLaneDashboard{
	border-left: 2px solid #b1b0b0;
	border-left-style: dashed;
  
}

.keyLane{
	border-top: 2px solid #b1b0b0;
	border-top-style: dashed;
}

.keyLane-label{
	position: relative;
	z-index: 6;
	font-weight: 600;
	left: 1%;
}

.rowNomargin{
  	margin: 0 !important;
}

.laneInfrastructure, .laneProductManangement , .laneUser, .laneDefault,.laneIT , .laneBusiness , .laneStakeholder{
  	margin: 0;
}

.overflowx_Daily{
	width: 1872px !important;
}
.colFixed{
	width: 78px;
}

.mobileContent{
	display: block;
}
.myKey{
	margin-top : 0 ; 
	padding-top: 0.02px;

}
.myKey.sameRow{
	position: absolute;
	width: 100%;
}
.myKey.marginRow{
	margin-bottom : 1.5% !important; 
}

.myKey .thisKey{
	position: relative;
	cursor: pointer;
}

.myKey .thisKey:hover .keyText{
	visibility: visible;
	opacity: 1;
}

.myKey .thisKey:hover .toggle-box{
	color: black;
}

.myKey .keyTextinline{
	visibility: hidden;
	opacity: 0;
	font-weight: 600;
	position: absolute;
	display: flex ;
	top: -20px;
	max-width: 200px;
	overflow: hidden;
	overflow-wrap: break-word;
}

.myKey .keyTextinline.show {
    visibility: visible!important;
    opacity: 1!important;
    display: contents !important;
}

.myKey .keyText{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background-color: transparent ; 
	padding: 3px;
	min-width: 150px;
	left: 2rem ;
	font-weight: 500;
	color: white;
	text-align: left;
	transition:visibility 0.3s linear,opacity 0.3s linear;
}

.myKey .keyText .keyText-detail{
	background-color: rgba(102,135,210,0.64);
	border-radius: 4px;
}

.topLabel{
	font-weight: 600;
	margin-right: 20px !important;
}

.editThisTeam{
	cursor: pointer;
	color: #464775
}

.editThisTeam .editThisTeam_table{
	position: absolute;
	top: -7px;
	z-index: 10;
}

.editThisTeam .editThisTeam_caret{
	z-index: 20;
	position: absolute;
	left: -6px;
	top: -5px;
	font-size: 20px;
}
.teaminput path{
	pointer-events: none;
}

.editThisTeam .editThisTeam_footer{
	text-align: right;
}

.editThisTeam_detail{
	visibility: hidden;
	opacity: 0;
	position: relative;
  }

.teamtoggle{
	position: relative;
}

.editThisTeam_detail .editThisTeam_table{
    position: absolute;
    top: 15px;
    z-index: 10;
	left: -30px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: auto;
    width: 350px;
    white-space: nowrap;
}

.editThisTeam_detail .editThisTeam_caret{
    z-index: 20;
    position: absolute;
 	left: -15px;
    top: 0px;
    font-size: 20px;
}

.editThisTeam_detail .editThisTeam_footer{
    text-align: right;
}

.editThisTeam_detail .tdInput{
    padding: .75rem 0.1rem;
}

.editThisTeam_detail .tdInput input{
	font-size: 12px;
	padding: .375rem 0.3rem;
}

.editThisTeam_detail.show{
	visibility: visible !important;
}

.divSearchTeam{
	position: absolute;
    background: white;
    padding: 3px;
    z-index: 20;
	border-radius: 8px;
	width: 100%;
}
.divSearchTeam ul{
	list-style: none;
    margin-left: 0;
    padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: left;
}
.divSearchTeam li{
	padding: 5px;
	border-radius: 8px;
}
.divSearchTeam li:hover{
	background-color: rgb(164, 167, 192);
}

.tdInput{
	padding: .75rem 0.1rem;
}

.tdInput input{
	font-size: 12px;
	padding: .375rem 0.3rem;
}

.dateSelect{
	font-weight: 600;
	position: relative;
	border: 1px solid black;
	background-color: #464775;
	color: white;
}

.dateSelect .onDateSelect{
	cursor: pointer;
	display: inline;
	background-color:  transparent;
}

.dateSelect .onDateSelect:hover{
	color:  darkgrey;
}

.keyOperationHeight{
	height: 18px;
	border-radius: 5px;
	margin-bottom: 2.5px;
	z-index: 5;
	position: relative;
}
.keyOperationLabel{
	width: 100%;
    position: relative;
    background-color: white;
	margin-top: 2.5px;
	z-index: 3;
	cursor: default;
}
.keyOperationText{
	background-color: transparent;
	display: contents;
	font-weight: 600;
}
.keyOperationLabel:hover .keyOperationText div:last-child , .myKey .keyOperationHeight:hover +  .keyOperationLabel .keyOperationText div:last-child{
	z-index: 6;
    background-color: #f3f0ff;;
    padding-right: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.keyOperationLabel:hover{
	z-index: auto;
}
.keyOperationLabel:hover .keyOperationText div:first-child , .myKey .keyOperationHeight:hover +  .keyOperationLabel .keyOperationText div:first-child {
	z-index: 6;
    background-color: #f3f0ff;;
    padding-left: 8px !important;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

}
.textbreak{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hoverhourGT21{
	left: -140px !important;
	width: 150px !important;
	text-align: right;
}

.colTimeRange{
	text-align: center;
	background-color: #f3f0ff;
	padding: 5px;
	border-right: 1px solid rgba(37,36,35,.65);
	border-radius: 8px;
	border-top: none;
	color: rgba(37,36,35,.65);
	font-weight: 700;
}

.rowFullWidth{
	position: relative;
	width: 100%;
	background-color: transparent;
}

.arrow-right{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	transform: rotate(-45deg);
	padding: 3px;
	position: absolute;
	right: 1px;
	top: 5px;
}

.BN-line{
	background-color: #ffa80a;
	color: #464646;
}

.ICS-line{
	background-color: #0ab0ff;
	color: white;
}

.BE-line{
	background-color: rebeccapurple;
	color: white;
}

.CA-line{
	background-color: darkred;
	color: white;
}

.BulkPayment-line{
	background-color: lightgreen;
	color: #464646;
}

.BNSWIFT-line{
	background-color: #003300;
	color: white;
}

/*Key Operation Timeline*/
.periodInput{
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: 600;
	width:100%;
}

.periodInput option:hover, .periodInput option:focus, .periodInput option:active, .periodInput option:checked {
	background-color: #464775;
	color: white;
}

#chartdiv {
	width: 100%;
	height: 500px;
}

.calendar{
	width: 100%;
	text-align: center;
	border: 1px solid rgba(37,36,35,.15);
	border-radius: 5px;
}

.calendar .headerMonth{
	padding: 10px;
    font-size: 1.5em;
    font-weight: 800;
    border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid rgba(37,36,35,.15);
	color: rgba(37,36,35,.65) !important;
}

.calendar .flex7DayBlock1{
	position: relative;
    width:14.2857%;
    display:inline-block;
    font-weight: 800;
    padding: 15px 0px;
	font-size: 16px;
	color: rgba(37,36,35,.65);
}
.calendar .flex7DayBlock1 text{
	text-decoration: none !important;
}

.calendar .flex7DayBlockCenter1{
	position: relative;
    width:14.2857%;
    display:inline-block;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 16px;
    height: 70px;
}

.calendar .flex7DayBlockCenter1:hover{
    background-color: gainsboro;
    color: black;
}

.calendar .flex7DayBlockCenterPastNext{
	position: relative;
    width:14.2857%;
    display:inline-block;
    text-align: center;
    color: gray;
    font-size: 16px;
    height: 70px;
}

.calendar .flex7DayBlockCenterPastNext:hover{
	background-color: gainsboro;
    color: gray;
}

.weekLabel{
  padding: 10px;
  color: rgba(37, 36, 35, 0.65);
}

.weekLabel.active{
  color: #6264a7 !important;
}

.colWeekBorder{
  	border: 1px solid rgba(37, 36, 35, 0.15);
}
.colWeekBorder_day{
	border-bottom: 1px solid rgba(37, 36, 35, 0.15);
	text-align: left;
}

.colWeekBorder .keyLaneWeek{
    border-bottom: 2px solid #b1b0b0;
    border-bottom-style: dashed;
}

.colWeekBorder .keyLane-label{
    margin-bottom: 0;
}

.paddingweekKey{
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 1rem;
}

.paddingweekKey .key-event, .paddingweekKey .key-action{
    margin-right: 60%;
}

.weekKeyOperation{
  	padding : 4%;
}

.weekKeyOperation div{
	background-color: #6264a7;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
    padding-top: 3px;
}

.monthKey{
	position: relative;  
	display: inline-flex;
   }

.monthRow{
	width: 100%;
	left: 20px;
	position: absolute;
}

.monthwideScreen{
	width: 100%;
}

.monthMobileScreen{
	width: 100%;
	padding-right: 14%;
	display: none;
}
.eventMobile{
	background-color: #464775;
	width: 10px;
	border-radius: 100%;
	height: 10px;
	display: inline-block;
	margin-right: 0;
	margin-top: 0;
}


.monthKeyLabel{
	position: relative;
	opacity: 0;
	visibility: hidden;
	max-height: 200px;
    overflow-y: auto;
}

.monthKeyLabel .monthKeyLabelDetail{
    position: relative;
    padding-top: 10px;
}

.monthKeyLabel .keyLane-label{
    margin-bottom: 0;
}

.monthKeyLabel{
	position: relative;
	opacity: 0;
	visibility: hidden;
	/* transition:visibility 0.1s linear,opacity 0.1s linear; */
}

.monthwideScreen .monthKey .keyInfo:hover .monthKeyLabel , .monthMobileScreen .eventMobile:hover .monthKeyLabel{
	visibility: visible;
	opacity: 1;
	z-index: 1;
	width: 200px;
	left: 25px;
	top: 17px;
	text-align: left;
}
.monthToggle{
	position: absolute;
	top: 0;
	left: 0;
}
   

.monthKeyOperation .divText{
	background-color: #6264a7;
	border-radius: 8px;
	color: #fff;
	font-weight: 500;
	width: 100%;
}


.monthKey:hover .monthKeyLabel{
	visibility: visible;
	opacity: 1;
	z-index: 1;
	width: 200px;
	left: 25px;
	top: 17px;
	text-align: left;
}


.showAnimation{
  	transition:visibility 0.3s linear,opacity 0.3s linear;
}

#inputnewTeam{
	margin-right: 1rem;
	margin-bottom: 0;
	font-size: 12px;
}


/*Archive*/
.card {
	border-radius: 5px;
	padding: 2px;
	background-color: white;
	box-shadow: 0px 12px 22px -8px rgba(82,82,82,1);
	cursor: pointer;
}
.box {
	padding: 5px;
}

.searchLayOut{
	width: 300px;
	position: relative;
	right: 0px;
}

.titleBlock{
	line-height: 1.5em;
	height: 1.8em;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 15px;
}

.descriptionBlock{
	line-height: 1.2em;
	height: 4em;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 15px;
}

.viewBtn{
	width: 100%;
	border-radius: 3px;
}

.viewBtn:hover{
	background-color: gainsboro;
}

.shadow{
	position: relative;
	transition: transform .20s ease-in-out;
	will-change: transform;
}

.shadow::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity .20s ease-in-out;
	pointer-events: none;
	will-change: opacity;
	box-shadow: 0px 12px 22px -8px rgba(0,0,0,0.75);
}

.shadow::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity .20s ease-in-out;
	pointer-events: none;
	will-change: opacity;
	opacity: 0;
	box-shadow: 0px 12px 22px -8px rgba(0,0,0,0.75);
}

.shadow:hover::before{
	transform: translateY(-5%);
	opacity: 0;
}

.shadow:hover::after{
	transform: translateY(-5%);
	opacity: 1;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 50px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #6264a7 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

.lds-ring-mini {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
}
.lds-ring-mini div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	margin: 0px;
	border: 3px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #6264a7 transparent transparent transparent;
}
.lds-ring-mini div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring-mini div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring-mini div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
  

/*Default screen*/
@media only screen and (max-width: 1366px){
	/* .monthwideScreen{
		display: none;
	} */
	.monthtotleKey{
		display: none;
	}
	.monthKeyOperation .font-xs{
		font-size: 10px;
	}


}
@media only screen and (min-width: 1367px){
	.monthMobileScreen{
		display: none;
	}	
	
}

/*Mobile*/
@media only screen and (max-width: 1200px){
	.suggestItem{
		padding: 5px 10px;
	}

	.blockWithText {
		height: 3.2em;
		line-height: 1.5em;
		
		overflow: hidden;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		display: -webkit-box;
	}
	.mobliePeriod{
		width: 100% !important;
	}

	.menuNav{
		padding: 2px 28px 15px;
		width: 250px;
		height: auto;
		overflow: visible;
		display: none;
		position: absolute;
		background-color: white;
		z-index: 2000;
		box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
	}

	.navMobile{
		padding: 2px 28px 15px;
		width: 250px;
		height: auto;
		overflow: visible;
		display: block;
		position: absolute;
		background-color: white;
		z-index: 2000;
		box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.1);
	}

	.searchLayOut{
		width: 30%;
		position: absolute;
		right: 10px;
		z-index: 1500;
	}

	.searchResultLayoutBlock{
		overflow: hidden;
		transition: all .3s ease-in-out;
		padding: 10px 15px;
		background-color: rgb(243,242,241);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
		position: absolute;
		width: 300px;
		right: 0;
		z-index: 3000;
	}

	/*Assign task Section*/

	.imgUser img{
		width: 20px;
		height: auto;
	}

	/*Key Operation Timeline*/
	.monthKey{ 
		display: content;
	}
	.mobileContent{
		display: content;
	}
}

@media only screen and (max-width: 1024px){
	.monthKeyOperationLabel{
		display: none;
	}
	.monthwideScreen .col {
		padding: 0;
	}
	.monthwideScreen .col-12{
		padding-right: 5px;
	}
}
@media only screen and (max-width: 800px){
	.monthwideScreen .col-12{
		padding: 0;
	}
	.monthRow, .monthwideScreen{
		margin-left: 0;
		margin-right: 0;
	}
	.monthRow{
		left: 0;
	}
	.form-check.form-check-inline.topLabel.teaminput {
		display: flex;
	}
	.editThisTeam_detail .editThisTeam_caret{
		left: -15px;
		top: 0px;
	}
	.editThisTeam_detail .editThisTeam_table{
		top: 15px;
		left: -100px;
	}
	.calendar .flex7DayBlockCenter1{
		height: 90px;
	}
	.monthKeyOperation .font-xs {
		font-size: 8px;
	}
	.monthCalendar .key-action:before, .monthCalendar .key-event:before {
		font-size: 12px;
	}
	.monthIssue{
		top : 3px;
	}
	.monthCalendar .key-issue {
		border-left-width: 6px;
		border-right-width: 6px;
		border-bottom-width: 12px;
	}
	.monthToggle {
		left: -30px;
	}
}
