@import '~office-ui-fabric-react/dist/sass/References.scss';

//full hd
.collaboration {
  background-color: rgb(243,242,241);
  transition: all .3s ease-in-out;
  font-size: 14px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.alertLayout{
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.alertNewPost{
  position: absolute;
  bottom: -7px;
  z-index: 500;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.alertNewPostBtn{
  cursor: pointer;
  color: white;
  background-color: #6264a7;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.alertNewPostBtn:hover{
  background-color: #464775;
}

.menuNavMobile{
	padding: 0px 15px 15px;
	overflow: hidden;
  display: none;
}

.hamburger{
  font-size: 28px;
  margin-right: 10px;
  margin-top: 2px;
  color: #6264a7;
  cursor: pointer;
}

.assignTaskMultiInput{
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  line-height: 1.5em;
  height: 4em;
  overflow-y: auto;
}

.suggestEmail{
  display: block;
}

.suggestProfile{
  border-radius: 50%;
	float: left;
	width: 2.5rem !important;
	height: 2.5rem !important;
	max-width: 50px !important;
	max-height: 50px !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

.hashtag{
  /* background-color: white; */
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.hashtag label{
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.star {
  font-size: x-large;
  display: inline-block;
  color: gray;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content:'\2605';
}
.star.on {
  color: gold;
}
.star.half:after {
  content:'\2605';
  color: gold;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 1367px){
}

/*Mobile*/
@media only screen and (max-width: 1200px){
  .menuNavMobile{
    padding: 0px 15px 15px;
    overflow: visible;
    display: block;
    position: relative;
  }

  .suggestEmail{
    display: none;
  }

  .suggestProfile{
    border-radius: 50%;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    max-width: 25px;
    max-height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}